<!DOCTYPE html>
<html>
  <head>
    <title><%= data %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= data %></h1>
      <ul>
        <li><h2><%= data.report.food.name %></h2></li>
        <% for (var i = 0; i < data.report.food.nutrients.length; i++) { %>
          <li><%= data.report.food.nutrients[i].name %>: <%= data.report.food.nutrients[i].value %><%= data.report.food.nutrients[i].unit %></li>
        <% } %>
      </ul>
  </body>
</html>
